<!-- admin-inventory-add.ejs -->

<main class="content-wrapper">
    <div class="add-form-container">
      <h2>Add Stock for Existing Book</h2>
  
      <!-- Form to add stock for an existing book -->
      <form action="/admin/inventory/add" method="post">
  
        <div class="row">
          <div class="column">
            <label for="bookID">Book Title *</label>
            <select id="bookID" name="bookID" required>
              <% books.forEach(book => { %>
                <option value="<%= book._id %>">
                  <%= book.Title %>
                </option>
              <% }) %>
            </select>
          </div>
        </div>
  
        <div class="row">
          <div class="column">
            <label for="quantity">Quantity *</label>
            <input type="number" id="quantity" name="quantity" class="input1" required>
          </div>
        </div>
        <!-- Add any additional fields as needed -->
  
        <div class="row">
          <div class="right">
            <div class="submit-btn-container">
              <button type="submit" id="submit-btn">Add Stock</button>
            </div>
            <div class="cancel-btn-container">
              <button type="submit" id="cancel-btn">Cancel</button>
          </div>
          </div>
        </div>
      </form>
    </div>
  </main>
  
  <!-- Add any additional content or scripts here -->
  