<main class="content-wrapper">
    <div class="add-form-container">
        <h2>Edit Stock for Existing Book</h2>

        <!-- Form to edit stock for an existing book -->
        <form action="/admin/inventory/edit/<%= inventoryItem._id %>" method="post">

            <div class="row">
                <div class="column">
                    <label for="bookID">Book Title *</label>
                    <select id="bookID" name="bookID" required>
                        <option value="<%= inventoryItem.Book._id %>">
                            <%= inventoryItem.Book.Title %>
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <label for="quantity">Quantity *</label>
                    <input type="number" id="quantity" name="quantity" class="input1" value="<%= inventoryItem.QuantityInStock %>"
                        required>
                </div>
            </div>
            <!-- Add any additional fields as needed -->

            <div class="row">
                <div class="right">
                    <div class="submit-btn-container">
                        <button type="submit" id="submit-btn">Update Stock</button>
                    </div>
                    <div class="cancel-btn-container">
                        <button type="button" id="cancel-btn">Cancel</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</main>