<main class="content-wrapper">
  <div class="add-form-container">
    <h2>Add New Book</h2>
    <!-- Form to add a new book -->
    <form action="/admin/books/add" method="post">
      <div class="row">
        <div class="column">
          <label for="title">Title *</label>
          <input type="text" id="title" name="title" required>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="releaseDate">Release Date</label>
          <input type="date" id="releaseDate" name="releaseDate">
        </div>
        
      </div>
      <div class="row">
        <div class="column">
          <label for="description">Description *</label>
          <textarea id="description" name="description" required></textarea>
        </div>
      </div>
        <div class="row"></div>
        <div class="row">
        <div class="column">
          <label for="author">Author *</label>
          <input type="text" id="author" name="author" required>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="genre">Genre *</label>
          <input type="text" id="genre" name="genre" required>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="image">Image URL *</label>
          <input type="text" id="image" name="image" required>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="price">Price *</label>
          <input type="number" id="price" name="price" step="0.01" required>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="rating">Rating *</label>
          <input type="number" id="rating" name="rating" step="0.1" required>
        </div>
      </div>
      <!-- Add any additional fields as needed -->
      <div class="row">
        <div class="right">
          <div class="submit-btn-container">
            <button type="submit" id="submit-btn">Add Book</button>
          </div>
          <div class="cancel-btn-container">
            <button type="submit" id="cancel-btn">Cancel</button>
        </div>
        </div>
      </div>
    </form>
  </div>
</main>