<div class="container">
    <div class="shop-banner">
      <div>
        <h1>The Book Shop</h1>
        <b><p id="genre"></p></b>
      </div>
    </div>
    <div class="main-wrapper"> 
      <section class="categ-section" id="categoriesSection">
        <div class="categ-heading">Genres</div>
      </section>
      <div id="product-list"></div>
    </div>
  </div>