<head>
    <link rel="stylesheet" href="/css/home.css" />  
    <script src="/js/home.js"></script>
</head>
<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="/images/banner1.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
      <img src="/images/banner2.jpg" style="width:100%">
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <!-- The dots/circles -->
  <div style="text-align:center; margin-top: 10px;">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
  </div>
  <div class="divider"></div>

  <div class="categories-container">
    <div class="displays">
    <a href="/book-list?genre=mystery" class="display">
      <img id="mystery-image" src="/images/4.png">
      <span class="display-text">Mystery</span>
    </a>
    <a href="/book-list?genre=thriller" class="display">
      <img id="horror-image" src="/images/5.png">
      <span class="display-text">Thriller</span>
    </a>
    <a href="/book-list?genre=historical" class="display">
      <img id="historical-image"  src="/images/6.png">
      <span class="display-text">Historical</span>
    </a>
    <a href="/book-list?genre=romance" class="display">
      <img id="romance-image"  src="/images/7.png">
      <span class="display-text">Romance</span>
    </a>
    </div>    

  </div>
  <br>
    <div class="divider"></div>
  <br>
  <br>
  <div class="top-sellers-container">
    <div class="botd-heading">
      <b>Top Sellers</b>
    </div>
    <div class="book" id="top-sellers-container">
        
      </div>
    </div>
    <i class="fa-solid fa-ellipsis" style="color: #442B1D;"></i>
  </div>