<!-- register.ejs -->
<main id="content-wrapper" class="content-wrapper">
  <div class="container">
    <div class="registration-banner">
      <img src="images/be a member.png" alt="">
    </div>
    <div class="register-form-container">
      <form action="/auth/register" method="post" id="register">
        <h1>Create Account</h1><br>

        <div class="row">
          <div class="column">
            <label for="username">Username <span class="error usernameErrorMessage">*</span></label>
            <input type="text" name="UserName" id="username">
          </div>
        </div>

        <div class="row">
          <div class="column">
            <label for="firstName">First Name <span class="error firstNameErrorMessage">*</span></label>
            <input type="text" name="FirstName" id="firstName">
          </div>
        </div>

        <div class="row">
          <div class="column">
            <label for="lastName">Last Name <span class="error lastNameErrorMessage">*</span></label>
            <input type="text" name="LastName" id="lastName">
          </div>
        </div>

        <div class="row">
          <div class="column">
            <label for="address">Address <span class="error addressErrorMessage">*</span></label>
            <input type="text" name="Address" id="address">
          </div>
        </div>

        <div class="row">
          <div class="column">
            <label for="email">Email Address <span class="error emailErrorMessage">*</span></label>
            <input type="email" name="Email" id="email">
          </div>
        </div>

        <div class="row">
          <div class="column">
            <label for="password">Password <span class="error passwordErrorMessage">*</span></label>
            <input type="password" name="Password" id="password">
          </div>
        </div>
         
        <div class="row">
          <div class="column">
            <label for="confirm-password">Confirm Your Password <span class="error confirmPasswordErrorMessage">*</span></label>
            <input type="password" name="confirmPassword" id="confirmPassword">
          </div>
        </div>

        <div class="row">
          <div class="column">
            <br>
            <div class="submit-btn-container">
              <button type="submit" id="submit-btn">Submit</button>
            </div>

          <br><br>
          <span>Already have an account? <span id="showLogin" onclick="showLogin()"><u>Log in</u></span></span>
          </div>
            
        </div>
      </form>
      
      <div id="login">
        <% if (!isAuthenticated) { %>
          <h1>Log In</h1>
          <form action="/auth/userLogin" method="post">
            <div class="login-form-container">
              <label for="username-login">Username <span class="error usernameErrorMessage">*</span></label>
              <input id="username-login" type="text" name="username"/>
              <label for="password-login">Password <span class="error passwordErrorMessage">*</span></label>
              <input id="password-login" type="password" name="password"/>
              
              <a href="/forgotPassword.html">
                <label for="forgot-pword" class="forgot-pword">
                  Forgot Password?
                </label>
              </a>
              <br>
              <div class="btn-container">
                <button id="login-btn" type="submit">Login</button>
              </div>
              <br>
              <a href="register">
                <label for="register" class="register">
                  Create Account
                </label>
              </a>
            </div>

          </form>
          
        <% } else { %>  
          <h1>You are already logged in.</h1>
          <a href='/user/home'><h3><u>Go to Home</u></h3></a>
        <% } %>
      </div>
    </div>
  </div>
</main>

<script>

  function showLogin() {
    $("#login").show();
    $("#register").hide();
  }

  function hideLogin() {
    $("#login").hide();
    $("#register").show();
  }

  $(document).ready(function () {
    hideLogin();
  });
</script>