<!-- register-success.ejs -->
<main class="success-display">
    <div class="success-container">
        <h2>Registration Successful</h2>

        <p>Congratulations! You have successfully registered. You can now <a href="/auth/user">login</a> to your account.</p>
    </div>
</main>

