<head>
    <link rel="stylesheet" type="text/css" href="css/thankyou.css">
</head>
<div class="thankyou-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Thank You!</h2>
                    <p class="sub-title mb-3">Your order number is: 177791</p>
                    <p class="sub-title mb-3">It will be delivered in 2-12 business days.</p>
                    <p class="sub-title mb-3">Email us at <a style="color: cornflowerblue !important;" href="mailto:customerservice@rasvels.com">customerservice@rasvels.com</a> with any questions</p>
                    <p class="sub-title mb-3">Or call us on <a style="color: cornflowerblue !important;" href="tel:+1519-542-7751">+1519-542-7751</a></p>
                    <span class="check-order-btn">
                        <a class="btn btn-primary" href="/home">Continue Shopping</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>