<% if (username) { %>
  <!-- Code for the logged-in user -->
  <div class="account-profile">
    <h5>Welcome, <%= username %>!</h5>
    <div class="form-container">
      <a href="./user-profile.html">
        <label for="profile" class="profile">
          User Profile
        </label>
      </a>
      <% if (isAdmin) { %>
        <form action="/auth/logout" method="get">
          <div class="btn-container">
            <button id="logout-btn" type="submit">Log out</button>
          </div>
        </form>
        <% } else { %>
          <form action="/auth/userLogout" method="get">
            <div class="btn-container">
              <button id="logout-btn" type="submit">Log out</button>
            </div>
          </form>
      <% } %>
    </div>
  </div>
<% } else { %>
  <!-- Code for the login form -->
  <div class="account-signin">
    <h5>Sign In</h5>
    <div class="form-container">
      <label for="uname">Username/Email:</label>
      <input id="uname" type="text" name="uname" />
      <label for="pword">Password:</label>
      <input id="pword" type="password" name="pword" />

      <a href="./forgotPassword.html">
        <label for="forgot-pword" class="forgot-pword">
          Forgot Password?
        </label>
      </a>
      <div class="btn-container">
        <button id="login-btn" type="submit" onclick="login()">Login</button>
      </div>

      <a href="/auth/register">
        <label for="register" class="register">
          Create Account
        </label>
      </a>
    </div>
  </div>
  <script>
    function login() {
      // Get the values of username and password
      const username = document.getElementById('uname').value;
      const password = document.getElementById('pword').value;

      // Determine the login route based on the context (user or admin)
      const loginRoute = username.includes('@admin') ? '/auth/adminLogin' : '/auth/userLogin';

      // Make a fetch request to the determined login route
      fetch(loginRoute, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ username, password }),
      })
        .then(response => response.json())
        .then(data => {
        if (data.success) {
          // Handle successful login
          alert("Login successful");
          user_data = {
            "username": username,
            "name": username
          }
          localStorage.setItem("currentUser", JSON.stringify(user_data));
          const redirectUrl = data.role === 'admin' ? '/admin/dashboard' : '/home';
          window.location.href = redirectUrl;
          console.log(data);
        } else {
          // Display login failed alert
          alert("Login failed. Incorrect username or password.");
        }
      })
        .catch(error => {
          // Handle errors
          console.error('Error during login:', error);
          console.error('Login failed:', data.errorMessage);
        });
    }
  </script>
<% } %>
