<div class="account-profile">
    <h5>Welcome, <%= username %>!</h5>
    <div class="form-container">
      <a href="./user-profile.html">
        <label for="profile" class="profile">
          User Profile
        </label>
      </a>
      <div class="btn-container">
        <button id="logout-btn" type="submit" onclick="logout()">Log out</button>
      </div>
      
    </div>
  </div>